body {
  margin: 0;
  font-family: Helvetica, Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(218, 237, 255) !important;
}

.navbar-logo {
  transition: all 0.25s;
  user-select: none;
  padding: 5px;
  border-radius: 8px;
  background: none;
}

.navbar-logo:hover {
  transition: all 0.25s;
  background: rgb(27, 45, 53);
}

.start-btn {
  transition: all 0.25s;
  margin-top: 50px;
  font-size: 40px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background: #ea5f5f;
  border-radius: 20px;
  align-self: flex-end;
  color: #1e1e1e;
  font-family: 'Open Sans', sans-serif;
}

.start-btn:hover {
  transition: all 0.25s;
  background: #c62f2f;
}

.home-grid {
  height: calc(100vh - 70px);
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 13fr;
}

.home-welcome {
  color: #262626;
  font-size: 50px;
  margin-top: 150px;
}

.page-wrapper {
  width: 90%;
  min-height: calc(100vh - 70px);
  background-color: #fff;
  margin: 0 auto;
  padding: 30px;
}

/* Cards/Content */
.content-card {
  width: 100%;
  min-height: 100px;
  background: #fff;
  border: 1px solid rgb(206, 205, 205);
  border-radius: 8px;
  box-shadow: 0px 1px 0px rgb(133, 133, 133);
}

.card-header {
  height: 2em;
  background: rgb(27, 45, 53);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.filter-height {
  height: 27.3em;
}

@media (max-width: 767px) {
  .filter-height {
    height: 200px;
  }

  .cards-container {
    margin-top: -250px;
  }
}

@media (max-width: 1300px) {
  .home-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 10fr;
  }

  .start-btn {
    align-self: center;
  }

  .home-welcome {
    margin-top: 10px;
  }
}