body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-logo {
  transition: all 0.25s;
  user-select: none;
  padding: 5px;
  border-radius: 8px;
  background: none;
}

.navbar-logo:hover {
  transition: all 0.25s;
  background: #083f61;
}

.start-btn {
  transition: all 0.25s;
  margin-top: 50px;
  font-size: 40px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background: #ea5f5f;
  border-radius: 20px;
  align-self: flex-end;
  color: #1e1e1e;
  font-family: 'Open Sans', sans-serif;
}

.start-btn:hover {
  transition: all 0.25s;
  background: #c62f2f;
}